<ng-container>
  <div class="row">
    <div class="col d-flex">
      <mat-form-field appearance="outline" class="flex-grow-1">
        <mat-label>Edit API</mat-label>
        <mat-select [disabled]="selectedApi.valid" [formControl]="selectedApi" (openedChange)="search.value=''">
          <div class="d-flex align-items-center">
            <mat-icon class="ml-3">
              search
            </mat-icon>
            <input #search matInput class="p-3" placeholder="Search..." />
          </div>
          <mat-option [value]="null">Add new API +</mat-option>
          <mat-option *ngFor="let api of apis | filter:search.value" [value]="api">
            {{api.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <mat-accordion>
        <mat-expansion-panel [disabled]="!selectedApi.valid" [expanded]="selectedApi.valid">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Edit API</b>
            </mat-panel-title>
            <mat-panel-description>
              {{(!selectedApi.valid) ? "Select an API first or create a new one" : "Edit API data"}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="pt-2" *ngIf="selectedApi.value">
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <label>Name*</label>
                  <input required matInput type="text" [(ngModel)]="selectedApi.value.name">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <label>Company</label>
                  <input matInput type="text" [(ngModel)]="selectedApi.value.metadata.company">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <label>Keywords</label>
                  <input matInput type="text" [(ngModel)]="selectedApi.value.metadata.keywords">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex flex-column">
                <label class="mb-2">AsyncAPI Specification*</label>
                Upload file
                <input type="file" accept="application/JSON" (change)="handleFileInput($event.target.files)"/>
                or paste JSON
                <app-json-editor [stringData]="selectedApi.value.asyncApiSpec" (stringChange)="selectedApi.value.asyncApiSpec = $event"></app-json-editor>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <button mat-raised-button color="warn" [disabled]="!selectedApi.valid" (click)="reset()">Reset</button>
      <button mat-raised-button color="accent" class="float-right" [disabled]="!selectedApi.valid"
        (click)="finish()">Finish</button>
    </div>
  </div>
</ng-container>
