#/bin/bash
STARTTIME=$(date +%s)
sudo apt-get update
sudo apt-get install -y npm nodejs

cd project
npm i

cd source && npm i && cd ..

cd targets
{{#targets}}
cd {{id}} && npm i && cd ..
{{/targets}}
cd ..
ENDTIME=$(date +%s)

printf '%s' "$(($ENDTIME - $STARTTIME))" > install_time.txt
