{
  "name": "test",
  "version": "1.0.0",
  "description": "",
  "author": "Maurice Ackel",
  "scripts": {
    "start": "node ./test.js"
  },
  "dependencies": {
    "firebase": "^7.15.5",
    "deep-object-diff": "^1.1.0",
    "adm-zip": "^0.4.16"
  }
}
