<mat-toolbar class="toolbar" color="primary">
  <div class="row flex-grow-1">

    <div class="col-4">
    </div>

    <div class="col-4 d-flex justify-content-center">
      SYMBIOTE - An application-layer tool that allows iot devices to communicate automatically
    </div>

    <div class="col-4">
      <div *ngIf="identificationService.User as user" class="float-right">
        <span style="font-size: 12pt">{{user.email}}</span>
        <button mat-icon-button (click)="identificationService.logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>

  </div>
</mat-toolbar>

<ng-container *ngIf="!routerOutlet.isActivated">
  <div class="container-fluid px-5 py-4">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h1>Please select the component model you are using</h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col d-flex flex-wrap justify-content-center">
        <button mat-raised-button color="primary" class="p-3" [routerLink]="['/openapi']">
          <h3 class="mb-2">OpenAPI</h3>
          <span>A description standard for RESTful APIs (e.g. HTTTP)</span>
        </button>
      </div>
      <div class="col d-flex justify-content-center">
        <button mat-raised-button color="primary" class="p-3" [routerLink]="['/asyncapi']">
          <h3 class="mb-2">AsyncAPI</h3>
          <span>A description standard for Event-driven Architectures (e.g. MQTT)</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>About SYMBIOTE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <mat-card style="width: 50%; text-align: justify">
        <mat-card-content>
          SYMBIOTE is a composed word that is related to IoT, symbiotic bonds (biology) and Bots (software). Embedded devices are connected to the world wide web
          by using internet protocols. So called Internet-of-Things (IoT) devices already create value. Application examples include monitoring capabilities or predictive 
          maintenance scenarios. However, even more value is hidden when multiple IoT devices are architected with open interfaces that chat can be access by
          third-parties. Hence, SYMBIOTE breaks down IoT application silos to enable symbiotic bonds between open IoT devices. In the short-term, the tool 
          supports software engineers to generate software adapters easily. In the long-term, the tool can work without human intervention by automating the generation
          process completely - just like a bot. This is mainly achieved by using reasoning principles (e.g. transitive relations) from 
          logical artificial intelligence. Hence, SYMBIOTE takes over repetitive software adapter implementation tasks such that software engineers can focus on 
          the important stuff.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>

<router-outlet #routerOutlet="outlet" class="p-4"></router-outlet>
