<ng-container>
  <div class="row border-bottom">
    <div class="col-3 border-right d-flex justify-content-center">
      <h3 class="font-weight-bold">{{leftHeading}}</h3>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <button mat-stroked-button color="primary" class="btn-narrow" (click)="mapSame.emit()">Map
            same keys</button>
        </div>
        <div class="col d-flex justify-content-center">
          <h3 class="font-weight-bold">Mapping Area</h3>
        </div>
        <div class="col">
          <button mat-stroked-button color="primary" class="float-right btn-narrow" (click)="mapSelected()"
            [disabled]="isRequest && selectedRight.length === 0 || !isRequest && selectedLeft.length === 0">Map
            selected</button>
        </div>
      </div>
    </div>
    <div class="col-3 border-left d-flex justify-content-center">
      <h3 class="font-weight-bold">{{rightHeading}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-3 border-right">
      <mat-tree [dataSource]="leftDataSource" [treeControl]="leftTreeControl" class="mat-tree">
        <!-- Leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <mat-icon></mat-icon>
            <button mat-button class="btn-no-overflow" [ngClass]="{'mat-accent': selectedLeft.includes(node)}"
              (click)="selectLeft(node)" [disabled]="!isRequest && isMapped(node)">{{node.name}}</button>
          </li>
        </mat-tree-node>
        <!-- Expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <mat-icon>
                {{leftTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
              <button mat-button matTreeNodeToggle class="btn-no-overflow">{{node.name}}</button>
            </div>
            <ul [class.mat-tree-invisible]="!leftTreeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
    <div class="col-6">
      <div class="mapping-container">
        <div (click)="openEditor(pair)" class="d-flex flex-wrap cursor-pointer mapping-pair m-2"
          [ngClass]="{'invalid': !pair.mappingCode}" *ngFor="let pair of mappingPairs">
          <mat-icon class="remove-icon" (click)="removePair(pair)">
            remove_circle_outline
          </mat-icon>

          <div class="d-flex flex-column mr-1 p-2 border border-white rounded">
            <div *ngIf="pair.provided.length === 0">
              {{pair.mappingCode}}
            </div>
            <div *ngFor="let p of pair.provided; let i = index">
              {{p | join:'.'}}
              <ng-container *ngIf="i + 1 < pair.provided.length">,&nbsp;</ng-container>
            </div>
          </div>
          <mat-icon class="m-2">arrow_right_alt</mat-icon>
          <div class="ml-1 p-2 border border-white rounded">
            {{pair.required | join:'.'}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 border-left">
      <mat-tree [dataSource]="rightDataSource" [treeControl]="rightTreeControl" class="mat-tree">
        <!-- Leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <mat-icon></mat-icon>
            <button mat-button class="btn-no-overflow" [ngClass]="{'mat-accent': selectedRight.includes(node)}"
              (click)="selectRight(node)" [disabled]="isRequest && isMapped(node)">{{node.name}}</button>
          </li>
        </mat-tree-node>
        <!-- Expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <mat-icon>
                {{rightTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
              <button mat-button matTreeNodeToggle class="btn-no-overflow">{{node.name}}</button>
            </div>
            <ul [class.mat-tree-invisible]="!rightTreeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </div>
</ng-container>
