<ng-container>
  <div class="row">
    <div class="col d-flex">
      <mat-form-field appearance="outline" class="flex-grow-1">
        <mat-label>Mapping Source</mat-label>
        <mat-select [disabled]="mappingSource.valid && mappingTarget.valid" [formControl]="mappingSource">
          <mat-option *ngFor="let interface of interfaces" [value]="interface">
            {{interface.endpoint}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col d-flex">
      <mat-form-field appearance="outline" class="flex-grow-1">
        <mat-label>Mapping Target</mat-label>
        <mat-select [disabled]="mappingSource.valid && mappingTarget.valid" [formControl]="mappingTarget">
          <mat-option *ngFor="let interface of interfaces" [value]="interface">
            {{interface.endpoint}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Request">
          <div class="py-4 px-2">
            <mat-accordion multi="true">
              <mat-expansion-panel [disabled]="!mappingSource.valid || !mappingTarget.valid" [expanded]="mappingSource.valid && mappingTarget.valid">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>JsonLD Editor</b>
                    <mat-icon class="mx-2" matTooltip="Only enter the JsonLd context without the enclosing @context">
                      info
                    </mat-icon>
                  </mat-panel-title>
                  <mat-panel-description>
                    Edit JsonLD context here
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="pt-2">
                  <app-editor-zone leftHeading="Source Request Context" rightHeading="Target Request Context"
                    [leftData]="mappingSource.value?.request.jsonLdContext" [rightData]="mappingTarget.value?.request.jsonLdContext"
                    (saveLeft)="save($event, mappingSource.value, mappingSource.value?.request)" (saveRight)="save($event, mappingTarget.value, mappingTarget.value?.request)">
                  </app-editor-zone>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>Mapping</b>
                  </mat-panel-title>
                  <mat-panel-description>
                    Create mapping here
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="pt-2">
                  <app-mapping-zone leftHeading="Source Request Body" rightHeading="Target Request Body"
                    [leftData]="mappingSource.value?.request.body" [rightData]="mappingTarget.value?.request.body"
                    [mappingPairs]="requestMappingPairs">
                  </app-mapping-zone>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-tab>
        <mat-tab label="Response">
          <div class="py-4 px-2">
            <mat-accordion multi="true">
              <mat-expansion-panel [disabled]="!mappingSource.valid || !mappingTarget.valid" [expanded]="mappingSource.valid && mappingTarget.valid">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>JsonLD Editor</b>
                    <mat-icon class="mx-2" matTooltip="Only enter the JsonLd context without the enclosing @context">
                      info
                    </mat-icon>
                  </mat-panel-title>
                  <mat-panel-description>
                    Edit JsonLD context here
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="pt-2">
                  <app-editor-zone leftHeading="Source Response Context" rightHeading="Target Response Context"
                    [leftData]="mappingSource.value?.response.jsonLdContext" [rightData]="mappingTarget.value?.response.jsonLdContext"
                    (saveLeft)="save($event, mappingSource.value, mappingSource.value?.response)" (saveRight)="save($event, mappingTarget.value, mappingTarget.value?.response)">
                  </app-editor-zone>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <b>Mapping</b>
                  </mat-panel-title>
                  <mat-panel-description>
                    Create mapping here
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="pt-2">
                  <app-mapping-zone leftHeading="Source Response Body" rightHeading="Target Response Body"
                    [leftData]="mappingSource.value?.response.body" [rightData]="mappingTarget.value?.response.body"
                    [mappingPairs]="responseMappingPairs">
                  </app-mapping-zone>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button mat-raised-button color="warn" [disabled]="!(mappingSource.valid && mappingTarget.valid)" (click)="reset()">Reset</button>
      <button mat-raised-button color="accent" class="float-right" [disabled]="!(mappingSource.valid && mappingTarget.valid)" (click)="finishMapping()">Finish Mapping</button>
    </div>
  </div>
  <div class="mt-2" *ngIf="mappingError">
    <mat-card class="color-primary">
      <mat-card-header>
        <mat-card-title>Errors in mapping</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <h3>Error Message: {{mappingError.message}}</h3>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <b>Missing in Request Mapping</b>
          </div>
          <div class="col">
            <b>Missing in Response Mapping</b>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div *ngFor="let missing of mappingError.missingRequestProperties">
              {{missing | join:'.'}}
            </div>
          </div>
          <div class="col">
            <div *ngFor="let missing of mappingError.missingResponseProperties">
              {{missing | join:'.'}}
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
