<mat-toolbar class="toolbar" color="primary">
  <div class="row flex-grow-1">
    <div class="col-4">
      IntegrateIT
    </div>

    <div class="col-4 d-flex justify-content-center">
      <ng-container *ngIf="identificationService.UserName">
        <button mat-button class="mx-1" [routerLink]="['manual']" routerLinkActive="link-active">Manual</button>
        <button mat-button class="mx-1" [routerLink]="['transformation']" routerLinkActive="link-active">Transformation</button>
        <button mat-button class="mx-1" [routerLink]="['jsonld']" routerLinkActive="link-active">JsonLD</button>
      </ng-container>
    </div>

    <div class="col-4">
      <div class="float-right cursor-pointer" [routerLink]="['identification']">
        {{identificationService.UserName}}
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="container-fluid px-5 mt-4">
  <router-outlet></router-outlet>
</div>
