<ng-container>
  <div class="row">
    <div class="col">
      <p *ngFor="let enpoint of endpoints">Executing "{{enpoint.method}}" request to {{enpoint.url}}</p>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col border-right d-flex justify-content-center">
      <h3 class="font-weight-bold">{{leftHeading}}</h3>
    </div>
    <div class="col border-left d-flex justify-content-center">
      <h3 class="font-weight-bold">{{rightHeading}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col border-right py-2">
      <app-json-editor #leftEditor [data]="inputData" (jsonChange)="currentInputData = $event">
      </app-json-editor>
    </div>
    <div class="col border-left py-2">
      <app-json-editor #rightEditor [disabled]="true" [data]="outputData"></app-json-editor>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary" class="float-right" (click)="testRequest()">Test Request</button>
    </div>
  </div>
  <div class="mt-2" *ngIf="mappingError">
    <mat-card class="color-primary">
      <mat-card-header>
        <mat-card-title>{{mappingError.message}}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</ng-container>
