/* You can add global styles to this file, and also import other style files */
@import "~jsoneditor/dist/jsoneditor.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/theme-vars.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.link-active {
  background-color: mat-color($app-primary, 50);
  color: mat-contrast($app-primary, 50);
}


.color-primary {
  background-color: mat-color($app-primary, 500) !important;
  color: mat-contrast($app-primary, 700) !important;
}

mat-expansion-panel-header {
  background-color: mat-color($app-primary, 500) !important;
}

mat-expansion-panel-header:hover {
  background-color: mat-color($app-primary, 400) !important;
}

mat-expansion-panel-header mat-panel-description,
mat-expansion-panel-header mat-panel-title {
  color: mat-contrast($app-primary, 700) !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
  opacity: 0.75 !important;
}

.mat-expansion-indicator::after {
  color: mat-contrast($app-primary, 700) !important;
}

.btn-narrow {
  height: 25px !important;
}

.btn-narrow .mat-button-wrapper {
  display: block !important;
  line-height: 0px !important;
}

.btn-no-overflow {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.btn-overflow-left {
  direction: rtl !important;
  text-align: right !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
